:root {
  --main-color: #131313;
  --main-text-color: #f2f2f2;
  --main-nav-link-color: #f2f2f2;
  --main-font-family: "Nunito Sans", sans-serif;
  --secondary-font-family: "Alegreya Sans", sans-serif;
  --main-highlight-color: rgb(210, 43, 43);
  --main-highlight-bright-color: rgb(233, 69, 69);
  --secondary-text-color: rgba(255, 255, 255, 0.5);
}
